[Unit]
Description=VoteLocal scheduled jobs timer

[Timer]
OnBootSec=5m
OnUnitActiveSec=3m
Unit=votelocal-scheduled-jobs.service

[Install]
WantedBy=multi-user.target
